#image {
    border: 7px solid rgba(198, 84, 255,1);
    background-color: chartreuse;
    padding: 7px;
}

#linkone {
font-weight: bolder;
font-weight: 900;
color: rgb(255, 255, 255);
text-align: right;
position: absolute;
top: 0px;
right: 0px;
line-height: 1.25px;
}

#link {
font-weight: bolder;
color:rgb(255, 255, 255);
text-align: right;
position: absolute;
right:0px;
top: 8px;


}


body{
    background-color: aqua;
}